.cart {
  &__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
    img {
      width: 40px;
      image-rendering: pixelated;
    }
  }
}
ul {
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 20px;
  }
}
